name: Build MainsailOS
on:
  push:
    branches:
      - "**"
    paths:
      - ".github/workflows/build.yml"

  workflow_dispatch:

jobs:
  raspiosbuild:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout MainsailOS Project
        uses: actions/checkout@v3
        with:
          repository: ${{ github.repository }}

      - name: Get Raspberry Pi OS bullseye Image
        run: make get_latest

      - name: Run CustoPiZer
        uses: OctoPrint/CustoPiZer@main
        with:
          workspace: "${{ github.workspace }}/workspace"
          scripts: "${{ github.workspace }}/workspace/scripts"
          config: "${{ github.workspace }}/workspace/config.local"

      - name: Compress Image
        run: make compress

      - name: Get Image Name
        run: |
          make get_imagename >> $GITHUB_ENV

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.imageName }}
          path: workspace/${{ env.imageName }}
