name: "Examine Scripts with shellcheck"
on:
  push:
    branches:
      - "**"
    paths:
      - "tools/**"
      - "workspace/scripts/**"
  pull_request:
    branches:
      - "master"
    paths:
      - "tools/**"
      - "workspace/scripts/**"

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    matrix:
      scripts: ["./tools", "./workspace/scripts"]
    steps:
      - name: Fetch Repository
        uses: actions/checkout@v2
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        env:
          SHELLCHECK_OPTS: -ax -s bash
        with:
          scan_dir: ${{ matrix.scripts }}
          additional_files: "-true"
          ignore_paths: workspace/config.local
          format: tty
