name: "Validate build"

on:
  push:
    branches:
      - "**"
    paths:
      - "tools/**"
      - "workspace/scripts/**"
      - ".github/workflows/**"
      - "Makefile"
  pull_request:
    branches:
      - "**"
    paths:
      - "tools/**"
      - "workspace/scripts/**"
      - ".github/workflows/**"
      - "Makefile"

  workflow_dispatch:

jobs:
  commitlint:
    uses: ./.github/workflows/commitlint.yml

  shellcheck:
    needs: commitlint
    uses: ./.github/workflows/shellcheck.yml

  build:
    needs: [commitlint, shellcheck]
    uses: ./.github/workflows/build.yml
