name: "Validate build"

on:
  push:
    branches:
      - "**"
    paths:
      - "tools/**"
      - "workspace/scripts/**"
      - ".github/workflows/**"
      - "Makefile"
  pull_request:
    branches:
      - "**"
    paths:
      - "tools/**"
      - "workspace/scripts/**"
      - ".github/workflows/**"
      - "Makefile"

  workflow_dispatch:

jobs:
  commitlint:
    - name: "Lint commit message with commitlinter"
      uses: ./.github/workflows/commitlint.yml

  shellcheck:
    - name: "Validate scripts with Shellcheck"
      needs: commitlint
      uses: ./.github/workflows/shellcheck.yml

  build:
    - name: "Validate Build of OS Image"
      needs: [commitlint, shellcheck]
      uses: ./.github/workflows/build.yml
